<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IT4853</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <!-- Header -->
  <div class="container">
    <section class="section">
      <div class="container">
        <h1 class="title">IT4853</h1>
        <h2 class="subtitle">
          The simple search engine using solr for vietnamese searching
        </h2>
      </div>
    </section>
    <!-- Content -->
    <div class="tile is-ancestor" style="min-height: 70vh;">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <div class="content">
              <!-- Content -->
              <form method="GET">
                <div class="columns">
                  <div class="column">
                    <h4 class="title is-4" style="text-align: center;">Tìm kiếm</h4>
                  </div>
                  <div class="column is-three-quarters">
                    <input class="input" type="text" name="value" placeholder="Nhập từ khóa tìm kiếm" value={{searchValue}}>
                  </div>
                  <div class="column">
                    <button class="button" type="submit">Search</button>
                  </div>
                </div>
              </form>
              <span><i>Tổng {{numFound}} kết quả tìm kiếm</i></span>
              {% if results %}
              {% for x in results %}
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><a href={{x["url"][0]}} target="_blank">{{x["title"][0]}}</a></strong>
                        <span class="tag is-danger">{{x["score"]}}</span>
                        <br>
                        {{x["content"][0]}}
                      </p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item">
                          Show more ...<i class="fas fa-angle-double-right"></i></i>
                        </a>
                      </div>
                    </nav>
                  </div>
                </article>
              {% endfor %}
              {% endif %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

  <nav class="pagination" role="navigation" aria-label="pagination" style="width:80%;margin-left: 10%;">
    <ul class="pagination-list">
      {% set numberPage = numFound//10 %}
      {% for x in range(1,numberPage) %}
        <li>
          {% if x==page %}
            <a class="pagination-link is-current" aria-current="page">{{x}}</a>
          {% else %}
            <a class="pagination-link" aria-current="page">{{x}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        This project made by <strong>CuongHX</strong>. The source code can be found at
        <a href="https://github.com/cuong1181998/IR-IT4853">Github Link</a>
      </p>
    </div>
  </footer>
</body>

</html>