<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IT4853</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <!-- Header -->
  <div class="container">
    <section class="section">
      <div class="container">
        <h1 class="title">IT4853</h1>
        <h2 class="subtitle">
          The simple search engine using solr for vietnamese searching
        </h2>
      </div>
    </section>
    <!-- Content -->
    <div class="tile is-ancestor" style="min-height: 70vh;">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <div class="content">
              <!-- Content -->
              <form method="GET">
                <div class="columns">
                  <div class="column">
                    <h4 class="title is-4" style="text-align: center;">Tìm kiếm</h4>
                  </div>
                  <div class="column is-three-quarters">
                    <input class="input" type="text" name="value" placeholder="Nhập từ khóa tìm kiếm" value={{searchValue}}>
                  </div>
                  <div class="column">
                    <button class="button" type="submit">Search</button>
                  </div>
                </div>
              </form>
              <span><i>Tổng {{numFound}} kết quả tìm kiếm</i></span>
              {% if results %}
              {% for x in results %}
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        {% if x["url"] %}
                          <strong><a href={{x["url"][0]}} target="_blank">
                            {% if x["title"] %}
                              {{x["title"][0]}}
                            {% endif %}
                          </a></strong>
                        {% endif %}
                        <span class="tag is-danger">{{x["score"]}}</span>
                        <br>
                        {% if x["content"] %}
                          {% if x["content"][0]|length > 350 %}
                            {{x["content"][0][:350]}}
                            <span id="show-more" style="display: none;">{{x["content"][0][350:]}}</span>
                            <a style="color: #74b9ff;" onclick="showMoreContent(this)">
                              Show more ...<i class="fas fa-angle-double-right"></i>
                            </a>
                            <a style="color: #74b9ff; display: none;" onclick="showLessContent(this)">
                              <i class="fas fa-angle-double-left"></i> Show less 
                            </a>
                          {% else %}
                            {{x["content"][0]}}
                          {% endif %}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </article>
              {% endfor %}
              {% endif %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

  <nav class="pagination is-centered" role="navigation" aria-label="pagination" style="width:80%;margin-left: 10%;margin-top: 10px;">
    {% if numFound % 10 > 0%}
      {% set numberPage = numFound//10 + 1%}
    {% else %}
      {% set numberPage = numFound//10 - 1%}
    {% endif %}
    <!-- {% set numberPage = numFound//10%} -->
    {% if page > 1 %}
    <a class="pagination-previous" onclick="handlePaginigation({{page-1}})">Previous</a>
    {% endif %}
    {% if page < numberPage %}
    <a class="pagination-next" onclick="handlePaginigation({{page+1}})">Next page</a>
    {% endif %}
    <ul class="pagination-list">
      {% if numberPage <= 6 %}
      {% for x in range(1,numberPage+1) %}
        <li>
          {% if x==page %}
            <a class="pagination-link is-current" aria-current="page">{{x}}</a>
          {% else %}
            <a class="pagination-link" aria-current="page" onclick="handlePaginigation({{x}})">{{x}}</a>
          {% endif %}
        </li>
      {% endfor %}
      {% else %}
      {% for x in range(1,4) %}
        <li>
          {% if x==page %}
            <a class="pagination-link is-current" aria-current="page">{{x}}</a>
          {% else %}
            <a class="pagination-link" aria-current="page" onclick="handlePaginigation({{x}})">{{x}}</a>
          {% endif %}
        </li>
      {% endfor %}
      {% if page==4 %}
        <a class="pagination-link is-current" aria-current="page">4</a>
      {% endif %}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% if page > 4 and page != numberPage %}
        <a class="pagination-link is-current" aria-current="page">{{page}}</a>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% endif %}
      {% if page == numberPage %}
        <li><a class="pagination-link is-current" aria-label="Goto page 3" onclick="handlePaginigation({{numberPage}})">{{numberPage}}</a></li>
      {% else %}
        <li><a class="pagination-link" aria-label="Goto page 3" onclick="handlePaginigation({{numberPage}})">{{numberPage}}</a></li>
      {% endif %}
      {% endif %}
    </ul>
  </nav>

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        This project made by <strong>CuongHX</strong>. The source code can be found at
        <a href="https://github.com/cuong1181998/IR-IT4853">Github Link</a>
      </p>
    </div>
  </footer>
</body>

</html>
<script>
  function handlePaginigation(page=1) {
    const params = new URLSearchParams(location.search);
    params.set('page', page);
    document.location=`?${params.toString()}`
  }

  function showMoreContent(event) {
    event.style.display = "none";
    event.previousElementSibling.style.display="inline";
    event.nextElementSibling.style.display="inline";
  }

  function showLessContent(event) {
    event.style.display = "none";
    event.previousElementSibling.style.display="inline";
    event.previousElementSibling.previousElementSibling.style.display="none";
  }
</script>